@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  background-color: #3498db;
}
